
body {
    background-color: #FFEFD5;
    color: #242426;
    font-family: 'Merriweather', serif;
    width: 35%;
    margin: auto;
}

h1 {
    background-color: #DC143C;
    color: white;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img {
    max-width: 80%;
}

figure img {
    width: 150px;
